<div class='container'>
    <mat-card>
        <mat-card-header class="title-cont" >
            <h1 class="title">{{ currentItem.title }}</h1>
        </mat-card-header>
        <img mat-card-image src="{{ currentItem.urlToImage }}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p class="news-content">
            {{ currentItem.content || currentItem.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink='/'>RETURN TO NEWS</button>
    </mat-card-actions>
    </mat-card>
</div>