<div class="container ">
  <h1 class="title">News</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search news</mat-label>
      <input matInput name="search"  placeholder="some news" [(ngModel)]="searchStr">
    </mat-form-field>
  </form>
  <div class="news-container">
    <app-news-item
    *ngFor="let item of newsArray | search: searchStr"
    [item]="item"
    >
    </app-news-item>
    <router-outlet></router-outlet>
    <!-- <app-news-element></app-news-element> -->
  </div>
</div>