.container{
    align-items: center;
    padding: 1rem 2rem;
}
.form-field {
    width: 200px;
  }
.title{
    font-size: 62px;
}
.news-container{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mat-form-field{
    width: 100%;
    max-width: 500px;
}